services:
  # 1. MongoDB
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # 2. Kafka & Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  # 3. API (Producer)
  api:
    build: .
    command: node index.js
    ports:
      - "3000:3000"
    environment:
      - KAFKA_BROKERS=kafka:29092
      - DB_CONNECTION_STRING=mongodb://mongodb:27017/eyego-activity-logs
    depends_on:
      - kafka
      - mongodb

  # 4. Worker (Consumer)
  worker:
    build: .
    command: node consumer.js
    environment:
      - KAFKA_BROKERS=kafka:29092
      - DB_CONNECTION_STRING=mongodb://mongodb:27017/eyego-activity-logs
    depends_on:
      - kafka
      - mongodb

volumes:
  mongo_data: